In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt
import seaborn as sns

In [2]:
data = pd.read_csv("daft.csv")

In [4]:
data.head()

,id,title,featuredLevel,publishDate,price,numBedrooms,numBathrooms,propertyType,propertySize,category,...,seller_name,seller_branch,sellerType,m_totalImages,m_hasVideo,m_hasVirtualTour,m_hasBrochure,ber_rating,longitude,latitude
0,3626025,"11 Chestnut Crescent, Bridgemount, Carrigaline...",featured,2022-01-28,290000,3,3,End of Terrace,96.0,Buy,...,Roy Dennehy,Dennehy Auctioneers,BRANDED_AGENT,16.0,False,False,False,C2,-8.382500,51.822940
1,3675175,"58 The Glen, Kilnacourt Woods, Portarlington, ...",featured,2022-01-28,225000,3,2,Semi-D,93.0,Buy,...,Marie Kiernan,Tom McDonald & Associates,BRANDED_AGENT,33.0,False,False,False,C1,-7.177098,53.157465
2,3673450,"16 Dodderbrook Park, Ballycullen, Dublin 24",featured,2022-01-27,575000,4,3,Semi-D,162.0,Buy,...,Moovingo,Moovingo,BRANDED_AGENT,38.0,False,True,False,A3,-6.342763,53.269493
3,3649708,"31 Lissanalta Drive, Dooradoyle, Co. Limerick",featured,2022-01-28,299000,3,3,Semi-D,NaN,Buy,...,DNG Cusack Dunne,DNG Cusack Dunne,BRANDED_AGENT,22.0,False,False,False,C2,-8.640716,52.629588
4,3643947,"5 Columba Terrace, Kells, Co. Meath",featured,2022-01-28,120000,3,1,Terrace,68.0,Buy,...,REA T&J Gavigan,REA T & J Gavigan,BRANDED_AGENT,5.0,False,False,False,G,-6.879797,53.728601

* #### id is not required, we can work with index.
* #### Title is not required.
* #### featuredLevel is not required as it only portrays the Ad on the listings website.
* #### seller_name is not required as seller_branch is available in the data.


### Data Exploration

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3967 entries, 0 to 3966
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3967 non-null   int64
 1   title             3967 non-null   object
 2   featuredLevel     3967 non-null   object
 3   publishDate       3967 non-null   object
 4   price             3967 non-null   int64
 5   numBedrooms       3967 non-null   int64
 6   numBathrooms      3967 non-null   int64
 7   propertyType      3967 non-null   object
 8   propertySize      3612 non-null   float64
 9   category          3967 non-null   object
 10  AMV_price         3967 non-null   int64
 11  sellerId          3967 non-null   float64
 12  seller_name       3967 non-null   object
 13  seller_branch     3967 non-null   object
 14  sellerType        3967 non-null   object
 15  m_totalImages     3967 non-null   float64
 16  m_hasVideo        3967 non-null   bool
 17  m_hasVirtualTour  3967 non-null   bool
 18  m_hasBrochure     3967 non-null   bool
 19  ber_rating        3967 non-null   object
 20  longitude         3967 non-null   float64
 21  latitude          3967 non-null   float64
dtypes: bool(3), float64(5), int64(5), object(9)
memory usage: 600.6+ KB

* #### propertySize is missing around 355 values, which is around 10% of the total, hence dropping the records will impact the performance of our model therefore we need to fill the missing values with mean value.

In [6]:
mean_value = data['propertySize'].mean() 
data['propertySize'].fillna(value=mean_value, inplace=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3967 entries, 0 to 3966
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3967 non-null   int64
 1   title             3967 non-null   object
 2   featuredLevel     3967 non-null   object
 3   publishDate       3967 non-null   object
 4   price             3967 non-null   int64
 5   numBedrooms       3967 non-null   int64
 6   numBathrooms      3967 non-null   int64
 7   propertyType      3967 non-null   object
 8   propertySize      3967 non-null   float64
 9   category          3967 non-null   object
 10  AMV_price         3967 non-null   int64
 11  sellerId          3967 non-null   float64
 12  seller_name       3967 non-null   object
 13  seller_branch     3967 non-null   object
 14  sellerType        3967 non-null   object
 15  m_totalImages     3967 non-null   float64
 16  m_hasVideo        3967 non-null   bool
 17  m_hasVirtualTour  3967 non-null   bool
 18  m_hasBrochure     3967 non-null   bool
 19  ber_rating        3967 non-null   object
 20  longitude         3967 non-null   float64
 21  latitude          3967 non-null   float64
dtypes: bool(3), float64(5), int64(5), object(9)
memory usage: 600.6+ KB