In [1]:
import pandas as pd
import numpy as np 
import matplotlib as plt
import seaborn as sns

In [10]:
data = pd.read_csv("daft.csv")

In [13]:
data.head()

,publishDate,price,numBedrooms,numBathrooms,propertyType,propertySize,category,AMV_price,sellerId,seller_branch,sellerType,m_totalImages,m_hasVideo,m_hasVirtualTour,m_hasBrochure,ber_rating,longitude,latitude
0,2022-01-28,290000,3,3,End of Terrace,96.0,Buy,0,3230.0,Dennehy Auctioneers,BRANDED_AGENT,16.0,False,False,False,C2,-8.382500,51.822940
1,2022-01-28,225000,3,2,Semi-D,93.0,Buy,0,2753.0,Tom McDonald & Associates,BRANDED_AGENT,33.0,False,False,False,C1,-7.177098,53.157465
2,2022-01-27,575000,4,3,Semi-D,162.0,Buy,0,10950.0,Moovingo,BRANDED_AGENT,38.0,False,True,False,A3,-6.342763,53.269493
3,2022-01-28,299000,3,3,Semi-D,NaN,Buy,0,1374.0,DNG Cusack Dunne,BRANDED_AGENT,22.0,False,False,False,C2,-8.640716,52.629588
4,2022-01-28,120000,3,1,Terrace,68.0,Buy,0,1076.0,REA T & J Gavigan,BRANDED_AGENT,5.0,False,False,False,G,-6.879797,53.728601

* #### id is not required, we can work with index.
* #### Title is not required.
* #### featuredLevel is not required as it only portrays the Ad on the listings website.
* #### seller_name is not required as seller_branch is available in the data.

In [12]:
data = data.drop(['id', 'title', 'featuredLevel', 'seller_name'], axis=1)


### Data Exploration

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3967 entries, 0 to 3966
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   publishDate       3967 non-null   object
 1   price             3967 non-null   int64
 2   numBedrooms       3967 non-null   int64
 3   numBathrooms      3967 non-null   int64
 4   propertyType      3967 non-null   object
 5   propertySize      3612 non-null   float64
 6   category          3967 non-null   object
 7   AMV_price         3967 non-null   int64
 8   sellerId          3967 non-null   float64
 9   seller_branch     3967 non-null   object
 10  sellerType        3967 non-null   object
 11  m_totalImages     3967 non-null   float64
 12  m_hasVideo        3967 non-null   bool
 13  m_hasVirtualTour  3967 non-null   bool
 14  m_hasBrochure     3967 non-null   bool
 15  ber_rating        3967 non-null   object
 16  longitude         3967 non-null   float64
 17  latitude          3967 non-null   float64
dtypes: bool(3), float64(5), int64(4), object(6)
memory usage: 476.6+ KB

* #### propertySize is missing around 355 values, which is around 10% of the total, hence dropping the records will impact the performance of our model therefore we need to fill the missing values with mean value.

In [15]:
mean_value = data['propertySize'].mean() 
data['propertySize'].fillna(value=mean_value, inplace=True)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3967 entries, 0 to 3966
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   publishDate       3967 non-null   object
 1   price             3967 non-null   int64
 2   numBedrooms       3967 non-null   int64
 3   numBathrooms      3967 non-null   int64
 4   propertyType      3967 non-null   object
 5   propertySize      3967 non-null   float64
 6   category          3967 non-null   object
 7   AMV_price         3967 non-null   int64
 8   sellerId          3967 non-null   float64
 9   seller_branch     3967 non-null   object
 10  sellerType        3967 non-null   object
 11  m_totalImages     3967 non-null   float64
 12  m_hasVideo        3967 non-null   bool
 13  m_hasVirtualTour  3967 non-null   bool
 14  m_hasBrochure     3967 non-null   bool
 15  ber_rating        3967 non-null   object
 16  longitude         3967 non-null   float64
 17  latitude          3967 non-null   float64
dtypes: bool(3), float64(5), int64(4), object(6)
memory usage: 476.6+ KB

* #### Data is split in the early phase so that we can test our model (which uses train)

In [ ]:
from sklearn.model_selection import test_train_split

X = data.drop(['price'])
y = data['price']